[submodule "Desktop/satyamgupta/Desktop/satyamgupta/React-Native-To-Do"]
	path = Desktop/satyamgupta/Desktop/satyamgupta/React-Native-To-Do
	url = https://github.com/example/repository.git
[submodule "Desktop/satyamgupta/Desktop/satyamgupta/Desktop/satyamgupta/React-Native-To-Do"]
	path = Desktop/satyamgupta/Desktop/satyamgupta/Desktop/satyamgupta/React-Native-To-Do
	url = https://github.com/satyamgupta08/React-Native-To-Do.git
